body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-dark: #282c34;
  --color-bg: #abb2bf;
  --color-light: #e9f0fe;
  --color-red: #e06c75;
  --color-blue: #61afef;
  --color-comment: #5c6370;
}
